* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 800px;
}
.containerbackground {
  color: rgba(149, 147, 147, 0.625);
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.drag-section {
  position: relative;
  background: rgb(244, 212, 217);
  width: 300px;
  height: 400px;
  border: 1px dotted black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.drop-section {
  position: relative;
  background: rgb(54, 124, 216);
  width: 300px;
  height: 400px;
  border: 1px dotted black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.drag-item {
  background: rgb(38, 159, 64);
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag-item p {
  color: white;
  font-size: 20px;
}

.dragging {
  background: rgb(196, 241, 185);
}

#drag-ghost {
  width: 200px;
  height: 50px;
  background-color: rgba(245, 249, 249, 0.923);
  border: 1px solid darkgray;
  text-align: center;
  line-height: 50px; /* vertically center the text */
}
